<nav class="nav">
  <% if (user) { %>
  <a href="/" class="cta-button">Home</a>
  <a href="/shelters/add" class="cta-button">Add Shelter</a>
  <% } else { %>
  <a href="/sign-in" class="cta-button">Sign in</a>
  <a href="/sign-up" class="cta-button">Sign up</a>
  <% } %>
</nav>
