<nav class="nav">
  <div>
    <% if (user) { %>
    <a href="/"> <button class="cta-button">Home</button></a>
    <a href="/shelters/add"><button class="cta-button">Add Shelter</button></a>
    <a href="/sign-out"><button class="cta-button">Sign Out</button></a>
    <% } else { %>
    <a href="/sign-in"><button class="cta-button">Sign in</button></a>
    <a href="/sign-up"><button class="cta-button">Sign up</button></a>
    <% } %>
  </div>
</nav>
