<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/shelter.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Shelter</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">BarkBuddy</div>
      <%- include('../partials/_navbar.ejs') %>
    </header>
    <div class="main-container">
      <h2>BarkBuddy: Add Shelter</h2>
      <div class="container">
        <form
          action="/shelters/edit/<%= shelter._id %>?_method=PUT"
          class="form"
          method="POST"
        >
          <%- include('../partials/_shelter.ejs') %>
          <input type="submit" value="Update" id="Add" />
        </form>
      </div>
      <div>
        <% if (message) { %>
        <p><%= message %></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
